.App {
  position: relative;
}

html, body {
  margin: 0px;
  padding: 0px;
}

.menu {
  z-index: 2;
  position: absolute  ;
}

.pic {
  z-index: -1;
  position: relative;
}

.backgrd {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: 100% auto;
}